.section_whyus {
  background-color: aliceblue;
  color: rgb(65, 60, 60);
  padding: 20px 0 0 50px;
  position: relative;
}
.section_whyus .container {
  padding: 100px 0;
  /* padding: 20px 0 0 50px; */
}
.whyus_img {
  flex: 1;
  position: relative;
}
.whyus_img div {
  border: 12px dotted rgb(65, 60, 60);
  width: 250px;
  height: 300px;
  position: absolute;
  top: -200px;
  left: 96px;
  z-index: 0;
}

img {
  width: 250px;
  height: 300px;
}

.whyus_content {
  width: 90%;
  padding: 0 30px;
}
.whyus_content h1 {
  font-family: "Poppins";
  font-style: 300;
  font-size: 50px;
  margin-bottom: 10px;
}

.whyus_content p {
  font-family: "Poppins";
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 22px;
}
.whyus_content .p2 {
  margin-bottom: 10px;
}

.whyus_content .btn_cta {
  background-color: rgb(65, 60, 60);
  color: aliceblue;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 15px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .section_whyus {
    padding: 0;
  }
  .section_whyus .container {
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
  }
  .whyus_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .whyus_content {
    width: 100%;
  }
  .whyus_img div {
    display: none;
  }

  img {
    width: 200px;
    height: 250px;
    object-fit: contain;
  }
}
