.whyus_section {
  width: 100vw;
  background-color: aliceblue;
  color: rgb(65, 60, 60);
  padding: 20px;
}

.whyus_container {
  padding: 60px 25px;
}

.nails_img {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.nails_img img {
  width: 250px;
  height: 300px;
}

.whyus_content {
  width: 90%;
   margin: 0 auto;
  
}
.whyus_content h1 {
  font-family: "Poppins";
  font-style: 300;
  font-size: 50px;
  margin-bottom: 10px;
}

.whyus_content p {
  font-family: "Poppins";
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 22px;
}
.whyus_content .p2 {
  margin-bottom: 10px;
}

.whyus_content .btn_cta {
  background-color: rgb(65, 60, 60);
  color: aliceblue;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 15px;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .whyus_container {
    flex-direction: column;
    padding: 15px 5px;
  }
  .nails_img {
    display: flex;
    flex-wrap: wrap;
  }
  .nails_img img {
    width: 137.01px;
    height: 100px;
    text-align: center;
  }
  .whyus_content {
    width: 90%;
    margin: 0 auto;
  }
  .whyus_content h1 {
    font-size: 25px;
    margin: 18px 0 6px;
  }
  .whyus_content p {
    margin-bottom: 10px;
    font-size: 16px;
   
  }
  .whyus_content .p2 {
    margin-bottom: 10px;
  }
}
