.contact_section {
  width: 100vw;
  background-color: rgb(65, 60, 60);
  color: aliceblue;
  padding: 50px;
  font-family: "Poppins" sans-serif;
}
.flex-items {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}
.flex-item h2 {
  margin-bottom: 10px;
  font-size: 26px;
}
.flex-item_content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 200px;
}
.heading {
  font-weight: bold;
  font-size: 22px;
}

p,
.icon {
  font-size: 20px;
  margin-top: 30px;
}
.space {
  margin: 0 40px;
}

@media screen and (max-width: 480px) {
  .flex-items {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .flex-item_content {
   flex-direction: column;
   gap: 20px;
  }
}
