.flex_container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.btn {
  border-radius: 500px;
  outline: none;
  border: none;
  cursor: pointer;
}
